.main
  height: 100%
  padding: 20px
  display: flex
  flex-direction: column
  gap: 20px

  &__header
    border-bottom: 1px solid
    padding-bottom: 10px
    .btn
      text-transform: capitalize
  &__conatainer
    height: 100%
    overflow: auto